<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylayout">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lol"
        android:label="首页"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme, android:label">
        <activity
            android:name=".MainActivity"
            android:label="健康助手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop" />
        <activity android:name=".FunActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ZhihuActivity" />
        <activity android:name=".WebActvity" />
        <activity android:name=".ChangeIconActivity"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mylayout.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>