<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylayout">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lol"
        android:label="首页"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme, android:label">
        <activity
            android:name=".MainActivity"
            android:label="健康助手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".FunActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".WeatherActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ZhihuActivity" />
        <activity android:name=".WebActvity"></activity>
    </application>

</manifest>